* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(253, 220, 220);
}

.calendar {
    margin: 20vh auto 0 auto;
    max-width: 46%;
    border: 0px solid;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}

#month {
    font-size: 2.5em;
    padding: 0.2em 0 0.2em 1em;
    background-color: rgb(238, 238, 238);
}

#headings {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: rgb(211,211,211);
    grid-gap: 1px;
    border: 2px solid rgb(211,211,211);
}

#headings > h3 {
    font-size: 2em;
    background-color: white;
    height: 1.75em;
    text-align: center;
    padding-top: 0.35em;
}

#days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: rgb(211,211,211);
    grid-gap: 1px;
    border: 2px solid rgb(211,211,211);
    border-top: 0;
}

#days > h4 {
    height: 1.4em;
    font-size: 1.5em;
    background-color: white;
    text-align: center;
    padding-top: 0.17em;
}

#controls {
    margin: 2em auto 2em auto;
}

#controls > button {
    width: 49%;
    margin-left: 0.5%;
    height: 2.5em;
    background-color: white;
    border: 1px solid blue;
    border-radius: 10px;
    color: blue;
}

#selector {
    display: inline-block;
    margin: 0 0 1em 2em;
}

#selector > p {
    display: block;
}

#selector > * {
    font-size: 1.7em;
}

.today {
    background-color: cornflowerblue !important;
}