* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    background-color: rgb(253, 220, 220);
}

.calendar {
    margin: 2vh auto 0 auto;
    max-width: 46%;
    border: 0px solid;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}

#month {
    font-size: 2.5em;
    padding: 0.2em 0 0.2em 1em;
    background-color: rgb(238, 238, 238);
}

#headings {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: rgb(211,211,211);
    grid-gap: 1px;
    border: 2px solid rgb(211,211,211);
}

#headings > h3 {
    font-size: 2em;
    background-color: white;
    height: 1.75em;
    text-align: center;
    padding-top: 0.35em;
}

#days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: rgb(211, 211, 211);
    grid-gap: 1px;
    border: 2px solid rgb(211,211,211);
    border-top: 0;
}

#days > h4 {
    height: 1.4em;
    font-size: 1.5em;
    background-color: white;
    text-align: center;
    padding-top: 0.17em;
}

#days > h4.active {
    background-color: rgba(238, 255, 0, 0.664);
    border: 2px solid black;
}

#eventform {
    background-color: white;
    box-shadow: 0.3em 0.3em 0.1em gray;
    padding: 1em;
    transition: all 0.15s;
}

#eventform > h5 {
    display: inline-block;
    font-size: 1.5em;
}

#eventform > button {
    float: right;
    background-color: white;
    color: blue;
    border: 0;
    font-weight: bold;
    padding: 2px 5px 2px 5px;
}

#schedulecontainer {
    display: grid;
    grid-gap: 0.2rem;
    
    grid-template-columns: 5rem repeat(3, 1fr); 
    grid-template-areas:
        "#time start-730 .stage .stage .stage"
        "#time start-800 .stage .stage .stage"
        "#time start-830 .stage .stage .stage"
        "#time start-900 .stage .stage .stage"
        "#time start-930 .stage .stage .stage"
        "#time start-1000 .stage .stage .stage"
        "#time start-1030 .stage .stage .stage"
        "#time start-1100 .stage .stage .stage"
        "#time start-1130 .stage .stage .stage"
        "#time start-1200 .stage .stage .stage"
        "#time start-1230 .stage .stage .stage"
        "#time start-1300 .stage .stage .stage"
        "#time start-1330 .stage .stage .stage"
        "#time start-1400 .stage .stage .stage"
        "#time start-1430 .stage .stage .stage"
        "#time start-1500 .stage .stage .stage"
        "#time start-1530 .stage .stage .stage"
        "#time start-1600 .stage .stage .stage"
        "#time start-1630 .stage .stage .stage"
        "#time start-1700 .stage .stage .stage"
        "#time start-1730 .stage .stage .stage"
        "#time start-1800 .stage .stage .stage"
        "#time start-1830 .stage .stage .stage"
        "#time start-1900 .stage .stage .stage"
        "#time start-1930 .stage .stage .stage"
        "#time start-2000 .stage .stage .stage"
        "#time start-2030 .stage .stage .stage"
        "#time start-2100 .stage .stage .stage"
        "#time start-2130 .stage .stage .stage"
        "#time start-2200 .stage .stage .stage";
}

#schedulecontainer > * {
    font-size: 1.2em;
    line-height: 1.1em;
}

#currentform {
    transform: scale(1);
}

#controls {
    margin: 2em auto 2em auto;
}

#controls > button {
    width: 49%;
    margin-left: 0.5%;
    height: 2.5em;
    background-color: white;
    border: 1px solid blue;
    border-radius: 10px;
    color: blue;
}

#selector {
    display: inline-block;
    margin: 0 0 1em 2em;
}

#selector > p {
    display: block;
}

#selector > * {
    font-size: 1.7em;
}

.today {
    background-color: cornflowerblue !important;
}

